<a href="https://colab.research.google.com/github/Shivam819/Shivam819/blob/main/assignment_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
# Question 1

print("Enter the amount each person have :-")
x = []
for i in range(0,5):
    x.append(float(input()))
def add_money(list):
    sum = 0
    for i in range(0,len(x)):
        sum = sum + x[i]
    print("Total money collected is :",sum)    
add_money(x)

Enter the amount each person have :-
10.50
20.50
100.30
10
10
Total money collected is : 151.3

In [43]:
# Question 2

import calendar
X = int(input("Enter year : "))
for i in range(1,8,2):
    print(calendar.month(X,i))
for i in range(8,13,2):
    print(calendar.month(X,i))

Enter year : 2021
    January 2021
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

     March 2021
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

      May 2021
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

     July 2021
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

    August 2021
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

    October 2021
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

   December 2021
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [14]:
# Question 3

a = int(input("Enter roll number : "))
if a%2 == 0:
   print("Roll number :",a)
   print("Even roll number, set 2 is given")
else:
   print("Roll number :",a)
   print("Odd roll nuumber, set 1 is given")

Enter roll number : 15
Roll number : 15
Odd roll nuumber, set 1 is given

In [24]:
# Question 4

print("Enter the names of hit movies :-")
X = []
while "Cut" not in X:
    X.append(input())
def director_cut(a):
    a.remove("Cut")
    print(a)
director_cut(X)

Enter the names of hit movies :-
Joker
The Dark Night
Bahubali
Anand
Cut
['Joker', 'The Dark Night', 'Bahubali', 'Anand']

In [36]:
# Question 7

Z = input("Enter sentence : ")
X = input("Enter word : ")
if X in Z:
   print("Exist")
else:
   print("Not Exist")

Enter sentence : I have a book of python
Enter word : book
Exist